In [1]:
import numpy as np
import scipy.stats
import scipy.special

import matplotlib
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from matplotlib import cm
import pandas as pd
%matplotlib inline

import gensim
#from keras.preprocessing import text
from sklearn.feature_extraction.text import CountVectorizer
import seaborn as sns
import re
import nltk
import json

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from scipy.stats.stats import pearsonr


from sklearn import decomposition, datasets
from sklearn import linear_model
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix

from IPython.display import display, HTML
from operator import itemgetter
from IPython.display import SVG
from keras.utils.vis_utils import model_to_dot
from tensorflow.keras.layers import Activation
from tensorflow.keras import backend as K
import tensorflow.keras as keras
import tensorflow as tf
from tensorflow.keras.layers import Input, Embedding, Add, Dot, Flatten
from tensorflow.keras import Model
from tensorflow.keras.regularizers import l2
from tensorflow.keras.optimizers import Adam

In [4]:
district_data=pd.read_csv("/content/Tea in Tamil Nadu.csv")

In [7]:
district_data.dropna(how='any',axis=0)

   Sl. No.      District     AREA    PRODN.   PTY.
1        2    Coimbatore  11186.0  150340.0  13.00
4        5      Dindigul      3.0      40.0  13.44
7        8   Kanyakumari    202.0    2715.0  13.44
19      20         Theni   1676.0   22525.0  13.00
20      21  The Nilgiris  55779.0  749670.0  13.44
27      28   Tirunelveli    804.0   10806.0  13.44
31   Total   State Total  69650.0  936096.0  13.44

In [8]:
alternate_data=pd.read_csv("/content/kenya-monthly-tea-production-2012-2016.csv")
alternate_data.head()

  Quantity Produced (Kgs)  Year     Month
0              36,205,286  2012   JANUARY
1              18,411,613  2012  FEBRUARY
2              17,858,709  2012     MARCH
3              18,118,143  2012     APRIL
4              37,383,207  2012       MAY

In [12]:
tea_nepal=pd.read_csv("/content/tea.csv")
tea_nepal.head()

     DISTRICT   AREA     PROD.
0       Jhapa  11557  18732906
1        Ilam   8045   4933682
2  Panchathar   1352    508063
3    Dhankuta    961    184721

In [13]:
tea_export=pd.read_csv("/content/export_dt.csv")

In [14]:
tea_export

           date  TEA_KOLKATA        OIL
0    2017-09-01     2.610435  52.950000
1    2017-08-01     2.758033  49.943333
2    2017-07-01     2.887943  47.656667
3    2017-06-01     2.839322  46.166667
4    2017-05-01     2.674872  49.893333
..          ...          ...        ...
688  1960-05-01     1.121401   1.630000
689  1960-04-01     1.121401   1.630000
690  1960-03-01     1.121401   1.630000
691  1960-02-01     1.121401   1.630000
692  1960-01-01     1.121401   1.630000

[693 rows x 3 columns]

In [18]:
crop=pd.read_csv("/content/crop_production.csv")
crop=crop[crop.Crop.isin(['Tea','Coffee'])]

In [28]:
produce=pd.read_csv("/content/produce.csv")
produce=produce.drop(axis=1,columns=produce.columns[3:15])

In [40]:
produce.head()

                                      Particulars  ...    3-2014
0              Agricultural Production Foodgrains  ...  264.3806
1       Agricultural Production Foodgrains Kharif  ...  129.3686
2         Agricultural Production Foodgrains Rabi  ...  135.0120
3         Agricultural Production Foodgrains Rice  ...  106.2872
4  Agricultural Production Foodgrains Rice Kharif  ...   92.0093

[5 rows x 13 columns]

In [38]:
datafile=pd.read_csv("/content/datafile (1).csv")
others=datafile[datafile.State.isin(['Tamil Nadu','Andhra Pradesh'])]

In [34]:
datafile.State.unique()

array(['Uttar Pradesh', 'Karnataka', 'Gujarat', 'Andhra Pradesh',
       'Maharashtra', 'Punjab', 'Haryana', 'Rajasthan', 'Madhya Pradesh',
       'Tamil Nadu', 'Bihar', 'Orissa', 'West Bengal'], dtype=object)

In [41]:
croptypes=pd.read_csv("/content/datafile (2).csv")
croptypes

            Crop               Production 2006-07  ...  Yield 2009-10  Yield 2010-11
0            Total Foodgrains               158.8  ...          126.5          135.9
1                        Rice               200.8  ...          118.9          125.2
2                       Wheat               131.6  ...          120.0          126.3
3                       Jowar               124.3  ...          105.0          115.8
4                       Bajra               136.4  ...          119.0          175.8
5                       Maize               198.8  ...          134.7          169.1
6                        Ragi                56.1  ...          113.2          129.6
7               Small millets                53.9  ...          102.7          182.4
8                      Barley                88.1  ...          127.9          138.9
9              Coarse Cereals               138.5  ...          133.5          169.2
10                    Cereals               164.1  ...          129.7          141.1
11                       Gram               140.6  ...          124.5          121.7
12                      Arhar                97.0  ...          106.5           98.1
13               Other Pulses               139.1  ...           93.9          129.0
14               Total Pulses               130.3  ...          109.7          120.4
15     Total Non-Food grains                155.4  ...          113.1          123.4
16             Total Oilseeds               148.2  ...          107.8          126.1
17                  Groundnut               115.2  ...          106.2          151.2
18                    Sesamum                95.5  ...          107.4          151.9
19          Rapeseed &Mustard               138.7  ...          139.9          140.2
20                    Linseed                55.9  ...          136.5          123.9
21                Castor seed               124.7  ...          153.9          171.9
22                  Safflower                67.3  ...          117.5          116.7
23                 Niger seed                65.1  ...           88.8           96.9
24                  Sunflower               161.3  ...           93.7          114.0
25                   Soyabean               253.2  ...          109.5          141.9
26              Nine Oilseeds               147.1  ...          122.1          152.0
27                    Coconut               142.7  ...           80.7           80.8
28                Cotton seed               186.1  ...          146.5          181.5
29               Total Fibers               186.1  ...          152.0          168.6
30               Cotton(lint)               213.1  ...          167.8          207.9
31                       Jute               220.3  ...          226.3          211.5
32                      Mesta                81.7  ...          112.7          112.0
33               Jute & Mesta               200.7  ...          227.0          211.8
34                  Sannhamp                 97.9  ...          179.4          230.9
35                       Tea                132.2  ...           95.8           95.8
36                    Coffee                138.0  ...          125.0          128.5
37                    Rubber                215.5  ...          140.9          140.9
38               Total Spices              1427.7  ...         1172.1         1310.8
39               Black pepper               134.2  ...           95.2          103.4
40               Dry chilies                163.5  ...          188.4          185.5
41                Dry ginger                206.3  ...          112.6          148.8
42                  Turmeric                158.6  ...          117.4          136.4
43                 Arecanut                 182.5  ...          105.1          105.1
44                  Cardamom                159.2  ...          185.6          196.1
45                  Coriander               126.4  ...          144.7          199.9
46                   Garlic                 226.2  ...          125.0          130.1
47  Total Fruits & Vegetables               162.6  ...          140.6          145.7
48                     Potato               135.7  ...          127.4          145.2
49                    Tapioca               146.4  ...          147.1          154.8
50             Sweet potato                  81.1  ...          108.8          109.6
51                      Onion               240.5  ...          147.1          130.0
52                   Banana                 189.3  ...          159.0          165.9
53                  Sugarcane               149.8  ...          106.6          106.7
54                    Tobacco                88.1  ...          109.6          118.6

[55 rows x 16 columns]

In [45]:
d=pd.read_csv("/content/MEPm.csv")
temp=d[['Tmax','Tmin','W']]